@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500&display=swap");
html {
  scroll-behavior: smooth;
  font-size: 15px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  transition: all 0.5s;
}
.custom-row {
  padding: 5rem 0;
}

a {
  color: #fff;
  text-decoration: none;
}

.wrapper {
  width: 100%;
  background-color: #24292d;
  color: #fff;
}

#nav-container {
  width: 100%;
  padding: 0;
}

#mynavigation {
  background: none;
  padding: 1rem 2rem;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
}

#mynavigation .my-toggle {
  background: none;
  border-color: #24caac;
  box-shadow: 0 0 15px rgba(110, 199, 206, 0.5);
}

#mynavigation .my-toggle .icon {
  background-color: #24caac;
  padding: 0;
}

#mynavigation .navbar-brand {
  color: #fff;
  font-size: 2rem;
  border: none;
  font-weight: 600;
  box-shadow: 0 0 15px rgba(110, 199, 206, 0.7);
}

#mynavigation ul li a {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 400;
}
mynavigation ul li a:hover {
  color: #24caac;
  border-radius: 5px;
  transition: 0.5s ease;
  box-shadow: 0 0 15px rgba(110, 199, 206, 0.5);
}

.banner-text {
  padding: 3rem 2rem;
}

.banner-text h1 {
  font-size: 4rem;
  color: #24caac;
  font-weight: 700;
}

.banner-text h2 {
  font-size: 3rem;
  color: #e96e13;
  font-weight: 700;
  margin: 0;
  position: relative;
}

.banner-text h3 {
  font-weight: 10px;
  margin: 0;
  letter-spacing: 2px;
}

.banner-text button {
  width: 140px;
  height: 40px;
  color: #fff;
  background-color: #24caac;
  border: none;
  outline: none;
  border-radius: 70px;
  font-size: 1.2rem;
  margin-top: 1.3rem;
  font-weight: 400;
}

.banner-text button a {
  color: white;
  text-decoration: none;
}

.banner-text button:hover {
  color: #24caac;
  border: 1px solid #24caac;
  background: none;
  transition: 0.5s ease;
}

.image img {
  width: 80%;
  animation: zoom 6s linear infinite;
}
