@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500&display=swap");
html {
  scroll-behavior: smooth;
  font-size: 15px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  transition: all 0.5s;
}
.custom-row {
  padding: 5rem 0;
}

a {
  color: #fff;
  text-decoration: none;
}

.wrapper {
  width: 100%;
  background-color: #24292d;
  color: #fff;
}

#nav-container {
  width: 100%;
  padding: 0;
}

#mynavigation {
  background: none;
  padding: 1rem 2rem;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
}

#mynavigation .my-toggle {
  background: none;
  border-color: #24caac;
  box-shadow: 0 0 15px rgba(110, 199, 206, 0.5);
}

#mynavigation .my-toggle .icon {
  background-color: #24caac;
  padding: 0;
}

#mynavigation .navbar-brand {
  color: #fff;
  font-size: 2rem;
  border: none;
  font-weight: 600;
  box-shadow: 0 0 15px rgba(110, 199, 206, 0.7);
}

#mynavigation ul li a {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 400;
}
